<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tsetGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EEA116C1BF096F7003E09CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEA11851BF096F8003E09CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEA11901BF096F8003E09CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
